<?xml version='1.0' encoding='utf-8'?>
<plugin id="node" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>node</name>
    <js-module name="node" src="www/node.js">
        <clobbers target="cordova.plugins.node"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="node">
                <param name="android-package" value="node.node"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
        </config-file>
        <edit-config file="AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true"/>
        </edit-config>
        <source-file src="src/android/node.java" target-dir="src/node/node"/>
        <source-file src="src/android/node.aar" target-dir="libs"/>
        <framework custom="true" src="src/android/node.gradle" type="gradleReference"/>
    </platform>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="node">
                <param name="ios-package" value="node"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <framework src="src/ios/favorX.xcframework" custom="true"/>
        <header-file src="src/ios/node.h"/>
        <source-file src="src/ios/node.m"/>
    </platform>
</plugin>
